:root{
    --clr-violet:#646cff;
}

.poke-card{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.poke-name{
    color: var(--clr-violet);
}

.poke-image{
    width: 8em;
}